.remove-animation{
  animation: slide 0.7s cubic-bezier(.53,.16,.43,.79) forwards;
}
.list {
  margin-right: auto;
  color: #000000;
  border: 1px solid black;
  background-color: #cccccc;
  /*width: 80%;*/
  border-radius: 15px;
  padding: 0px 10px;
  /*margin-bottom: 10px;*/
}
button{
  margin: 0px 10px;
  height: 3em;
  align-self: center;
  border-radius: 15px;
  padding: 0px 1em;
  color: white;
  cursor: pointer;
  box-shadow: inset;
  border: none;
}
.done{
background-color: #00b359;
}
.remove{
  background-color:  #ff3333;
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  height: 100%;
}
.search-box{
  width:100%;
  height: 3em;
  border-radius: 15px;
  margin: 10px 0px;
}
.input-box{
  width: 100%;
  border-radius: 15px;
  padding-top: 10px;
}
.Add-Button{
  background-color: #00b359;
  margin-left: 10px;
}
.text-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.title-bar{
  display: flex;
}
.title-bar h1{
  margin: auto;
}
.linethrough {
  text-decoration: line-through #000000 2px;
}
.list p:first-child{
 text-align: left;
}
.App{
  padding: 2em;
  background-color: transparent;
}
.edit{
  background-color: blueviolet;
}
body{
  margin: 0px;
  background: linear-gradient(45deg, #000000, #4d0026);
}
.title-bar h1{
  color: white;
}
.list:hover, .search-box:hover, .input-box:hover {
  animation: zoom 0.2s forwards;
}

.button-container{
  /*background-color: #404040;*/
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  /*flex-wrap: wrap;*/
}
.list p:nth-child(2){
  opacity: 0.6;
}

@keyframes zoom {
  from{}
  to{transform: scale(1.01); }
}

@keyframes slide {
  from{}
  to{transform: translateX(calc(100% + 200px))}
}

@media screen and (min-width: 700px) {
  .button-container{
    display: flex;
    align-items: center;
    background-color: #404040;
  }
  .list {
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
  }
  .list-container{
    display: flex;
  }
  button{
    margin:10px;
  }
  button:hover{
    background: #000000;
  }
}

@media screen and (max-width: 700px) {
  .list p{
    margin: 0px;
  }
  .list{
    padding: 10px;
  }
  img{
    height: 50px;
  }
  .Add-Button{
    margin: 10px;
  }
}